
@font-face {
  font-family: 'Latin Modern';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('/fonts/LM-regular.woff2') format('woff2'),
    url('/fonts/LM-regular.woff') format('woff'),
    url('/fonts/LM-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Latin Modern';
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: url('/fonts/LM-italic.woff2') format('woff2'),
    url('/fonts/LM-italic.woff') format('woff'),
    url('/fonts/LM-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Latin Modern';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url('/fonts/LM-bold.woff2') format('woff2'),
    url('/fonts/LM-bold.woff') format('woff'),
    url('/fonts/LM-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Latin Modern';
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: url('/fonts/LM-bold-italic.woff2') format('woff2'),
    url('/fonts/LM-bold-italic.woff') format('woff'),
    url('/fonts/LM-bold-italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roxbrough CF';
    src: url('/fonts/roxborough-cf-regular_freefontdownload_org/roxborough-cf-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.navigation-container {
    display: flex;
    justify-content: space-between;
    padding-inline: 7em;
    backdrop-filter: blur(5px) brightness(30%);
    position:relative;
    z-index: 5;
}

.navigation-container a {
    text-decoration: none;
    color: white;
}

.navigation-container img {
    height: 80px;
    padding-bottom: 10px;
}

.navigation {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 50px;
    padding: 10px;
}

.navigation li {
    font-size: large;
    padding-top: 15px;
    color: white;
    cursor: pointer;
    transition: text-shadow 0.2s ease-in-out, color 0.2s ease-in-out;

}

.navigation > li {
    position: relative;
}

.navigation > li:hover {
  color: white;
  text-shadow: 0 0 5px #FF8888, 0 0 10px #FF8888, 0 0 15px #FF8888;
}

.drop-menu {
  display: none;
  position: absolute;
  top: 100%; 
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  list-style: none;
  padding: 10px 0;
  margin: 0;
  min-width: 150px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.drop-menu li {
  padding: 8px 20px;
  white-space: nowrap;
  transition: text-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
}

.navigation > li:hover > .drop-menu {
  display: block;
}

.drop-menu li:hover {
  background-color: darkslategray;
  color: white;
  text-shadow: 0 0 5px #FF8888, 0 0 10px #FF8888, 0 0 15px #FF8888;
}

@media (max-width: 800px) {
  body {
    overflow-x: hidden;
  }

  .navigation, .hamburger {
    display: none;
  }

  .navigation-container {
    padding-left: 15px;
  }
}

footer {
  /* margin-top: 80px; */
  bottom: 0;
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

html {
  font-family: 'Roxbrough CF', sans-serif;
  font-weight: bold;
}
