@import url('/stylesheets/common.css');

html {
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

body {
    margin: 0px;
}

.boddery {
    padding-inline: 7%;
    padding-top: 30px;

    background: radial-gradient(ellipse,
    #05040e 0%, 
    #0a0618 25%, 
    #0f081f 50%,  
    #140a2a 70%, 
    #1a1033 85%, 
    #2e1c50 100%);
}

main {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
margin: 0px;
padding: 0px;
}

header {
    margin-inline: 10%;
    display: block;
    font-size: 2em;
    color: #A9A3ff;
    padding-block: 5em;
    text-shadow: -5px 3px 0.5rem rgb(160, 2, 190);
}

.liner {
    margin-bottom: 20px;
}

footer {
    margin: 0px;
    font-size: 1.1em;
    padding-block: 1em;
    padding-inline: 1em;
    background: black;
    text-align: center;
}

.event {
    width: 30%;
    margin: 10px;
    border-radius: 5px;
    border: 2px solid white;
    background: lavender;
    transition: transform 0.3s ease;
}

@media (min-width: 320px) and (max-width: 800px) {
    .event {
        width: 100%;
    }
}

.event:hover {
    transform: scale(110%);
    text-shadow: 2px 2px 5px white;
    filter: drop-shadow(0 0 0.98rem #A9A3ff);
}

.cover img {
    display: block;
    width: 100%;
}

.head {
    font-size: 2.5em;
}

.time {
    font-size: 1em;
    color: gray;
    margin-bottom: 10px;
}

.rest {
    padding: 10px;
}

.hero-back {
    background: url(/images/background.jpg);
    backdrop-filter: blur(3px);
}
