@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

* {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

body {
    margin: 0px;
}

.boddery {
    margin-inline: 10%;
    background: white;
    padding-top: 30px;
}

main {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
margin: 0px;
}

header {
    display: block;
    font-size: 2em;
    margin-inline: 10%;
}

.liner {
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}

footer {
    padding-inline: 10%;
    padding-block: 5%;
    background: #f0bdff;
}

.event {
    width: 20%;
    margin: 10px;
    border-radius: 5px;
    border: 2px solid black;
    background: white;
    transition: transform 0.3s ease;
}

.event:hover {
    transform: scale(120%);
}

.cover img {
    display: block;
    width: 100%;
}

.head {
    font-size: 2.5em;
}

.time {
    font-size: 0.8em;
    color: gray;
    margin-bottom: 10px;
}

.rest {
    padding: 10px;
}
